*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
}
.container-lg{
    width: 1200px;
    margin: 0 auto;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
	height: 100%;
}

.justify-between{
    justify-content: space-between;
}
.justify-end{
	display: flex;
    justify-content: flex-end;
}
.justify-center{
	display: flex;
    justify-content: center;
}
.align-center{
	display: flex;
    align-items: center;
}
.align-end{
	display: flex;
    align-items: flex-end;
}
.align-s-end{
	display: flex;
    align-self: flex-end;
}
.w-100{
    width: 100%;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-25{
	width: 20%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}